html {
    text-align: center;
    font-family: helvetica;

}

.navbar {
    background-image: url(../images/the-flatiron-building.png)
    color: white;
    font-size: 18px;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 23px;
}

p {
    font-size: 14px;
}

.NY {
    font-size: 23px;
    color: white;
    background-image: url(../images/the-flatiron-building.png);
}

footer {
    font-size: 11px,
    color: white;
    background-color: dimgray;
    text-align: left;
}