html {
    text-align: center;
    font-family: helvetica;

}

.navbar {
    background-image: url(../images/the-flatiron-building.png);
    font-size: 18px;
}

.navbar a:hover, a:active, a:visited {
    color: white;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 70px;
    color: white;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 23px;
}

p {
    font-size: 14px;
}

nav {
    color: white;
}

ul {
    list-style-type: none;
}

li {
    padding-top: 10px;
    font-size: 18px;
}

footer {
    font-size: 11px !important,
    color: white;
    background-color: dimgray;
    text-align: left;
}

.NY {
    font-size: 23px;
    color: white;
    background-image: url(../images/the-flatiron-building.png);
}